.discovery-search-bar-inactive{
    width: 100%;
    height: 45px;
    margin-top: 4px;
    padding: 12px;
    background-color: #E1E8ED;
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.discovery-search-bar-active{
    width: 100%;
    height: 45px;
    margin-top: 4px;
    padding: 12px;
    background-color: #E1E8ED;
    border: 1px solid #1DA1F2;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
}

.discovery-search-bar-icon-wrapper{
    height: 100%;
    width: 10%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.discovery-search-bar-input{
    width: 90%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 400;
    color: #657786;
    background-color: transparent;
   
}

.discovery-search-bar-clear{
     width: 22px;
     height: 22px;
     border-radius: 100%;
     background-color: #1DA1F2 ;
     display: flex;
      justify-content: center;
      align-items:center;
      cursor: pointer;
}

.discovery-search-bar-clear:hover{
background-color: #1A91da;
}