.register-modal {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .register-modal-content {
    width: 90%;
    height: fit-content;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Responsiveness for smaller devices */
  @media (max-width: 1200px) {
    .register-modal-content {
      width: 95%;
      padding: 15px;
    }
  }
  
  @media (max-width: 1024px) {
    .register-modal-content {
      width: 98%;
      padding: 10px;
    }
  }
  
  @media (max-width: 768px) {
    .register-modal-content {
      width: 100%;
      padding: 5px;
    }
  }
  
  @media (max-width: 600px) {
    .register-modal-content {
      border-radius: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .register-modal-content {
      padding: 0;
    }
  }
  
  @media (max-width: 320px) {
    .register-modal-content {
      border-radius: 5px;
    }
  }