.home-container {
  width: 100%;
  min-height: 100vh; /* Full height on all devices */
  display: flex;
  justify-content: center;
  align-items: center;

}

.landing-layout {
  width: 100%;
  overflow-y: auto;
  display: grid;
  grid-template-areas:
    "one"
    "two"
    "three";
  grid-template-rows: auto;
}

.landing-top-left {
  grid-area: one;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/white-background.png");
  padding: 20px;
}

.landing-top-left-logo {
  max-width: 100%;
  height: auto;
  mix-blend-mode: multiply;
}

.landing-top-right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: two;
  padding: 20px;
}

.landing-bottom {
  grid-area: three;
  padding: 20px;
}

/* Mobile devices */
@media (max-width: 768px) {
  .landing-layout {
    grid-template-columns: 1fr;
  }

  .landing-top-left,
  .landing-top-right,
  .landing-bottom {
    padding: 10px;
  }

  .landing-top-left-logo {
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  .landing-top-left-logo {
    max-width: 70%;
  }

  .landing-top-left,
  .landing-top-right,
  .landing-bottom {
    padding: 5px;
  }
}

@media (max-width: 480px) {
  .landing-top-left-logo {
    max-width: 40%;
  }

  .landing-top-left,
  .landing-top-right,
  .landing-bottom {
    padding: 0;
  }
}

/* Tablet and larger screens */
@media (min-width: 1000px) {
  .landing-layout {
    grid-template-areas:
      "one two"
      "three three";
    grid-template-columns: 55% 45%;
  }

  .landing-top-left {
    height: 100%;
  }

  .landing-top-left-logo {
    max-width: 35vw;
  }
}

/* Larger desktops */
@media (min-width: 1300px) {
  .landing-layout {
    grid-template-columns: 55% 45%;
  }

  .landing-top-left-logo {
    max-width: 30vw;
  }
}

/* Extra large desktops */
@media (min-width: 1500px) {
  .landing-layout {
    grid-template-columns: 55% 45%;
  }

  .landing-top-left-logo {
    max-width: 25vw;
  }
}
