.feed-post-creartor {
  width: 100%;
  height: fit-content;
  display: flex;
  padding: 4px;
  border-bottom: 1px solid #e1e8ed;
}

.feed-post-creator-pfp {
  width: 48px;
  height: 40px;
  object-fit: cover;
  border-radius: 100%;
  margin-top: 11px;
  margin-left: 15px;
}

.feed-post-creator-right {
  width: 100%;
  margin-left: 15px;
  margin-top: 10px;
}

.feed-post-creator-audience {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 108px;
  height: 24px;
  font-size: 14px;
  color: #1da1f2;
  padding: 2px;
  border: 1px solid #aabbc2;
  border-radius: 50px;
}

.feed-post-creator-audience:hover {
  background-color: rgba(29, 161, 241, 0.1);
}

.feed-post-creator-post-content {
  width: 507px;
  /* background-color: blue; */
  font-size: 20px;
  position: absolute;
  word-break: break-all;
  z-index: -10;
  font-weight: 400;
  pointer-events: none;
  /* margin-top: 15px; */
  padding: 0;
  margin: 0;
  /* padding-left: 2px; */
  padding-top: 15px;
}

.feed-post-creator-post-content-paragraph{
  font-size: 20px;
  font-weight: 400;
}

.feed-post-creator-post-content-emoji {
  height: 20px;
  width: 20px;
  /* font-size: 20px; */
  margin: 0;
  padding: 0;
  /* background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; */
  /* margin-left: 5px;
  margin-right: 2px; */
}

.feed-post-creator-input {
  height: fit-content;
  resize: none;
  overflow: hidden;
  font-size: 20px;
  border: none;
  background-color: transparent;
  font-weight: 400;
  /* color: transparent; */
  z-index: 100;
  caret-color: black;
}

/* .feed-post-creator-input::selection {
  background-color: rgba(51, 153, 255, 0.4);
  color: transparent;
} */

.input-active {
  margin-top: 15px;
  margin-bottom: 10px;
}

.feed-post-creator-input:focus {
  outline: none;
}

.feed-post-creator-reply {
  width: 170px;
  height: 24px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #1da1f2;
  font-weight: 600;
}

.feed-post-creator-reply:hover {
  border-radius: 75px;
  background-color: rgba(29, 161, 241, 0.1);
}

.feed-post-creator-botton-icons {
  width: 100%;
  height: fit-content;
  margin-top: 13px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.feed-post-creator-botton-icons-left {
  display: flex;
  width: 60%;
}

.icons-border {
  /* margin-right: 10px; */
  border-top: 1px solid #e1e8ed;
}

.feed-post-creator-icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 100%;
}

.feed-post-creator-icon-bg-active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 100%;
}

.icon-active:hover {
  cursor: pointer;
  background-color: rgba(29, 161, 241, 0.1);
}

.feed-post-creator-post-button {
  margin-right: 25px;
  width: 80px;
  height: 36px;
  border: none;
  border-radius: 40px;
  background-color: rgba(29, 161, 241, 0.5);
  font-size: 15px;
  font-weight: 700;
  color: white;
}

.post-active {
  background-color: #1da1f2;
}

.post-active:hover {
  cursor: pointer;
  background-color: #1a91da;
}

.feed-post-creator-icon-location {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
}

.hide {
  display: none;
}


.feed-post-creator-submit-cluster-divider {
  height: 100%;
  width: 1px;
  background-color: #aabbc2;
}


.feed-post-creator-submit-cluster {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.feed-post-creator-submit-cluster-left {
  display: flex;
  height: 100%;
  width: 50%;
  justify-content: space-evenly;
  align-items: center;
}

.feed-post-creator-submit-cluster-add {
  height: 24px;
  width: 24px;
  border-radius: 100%;
  border: 1px solid #e1e8ed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(29, 161, 242, 0.8);
  padding: 0;
  font-weight: 400;
  padding-bottom: 4px;
}

.feed-post-creator-submit-cluster-add:hover {
  background-color: rgba(29, 161, 242, 0.1);
  cursor: pointer;
}