.landing-footer {
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; /* This allows wrapping on small screens */
    padding: 10px 0; /* Add padding to give space around footer items */
  }
  
  .footer-link {
    font-size: 13px;
    font-weight: 400;
    margin: 0 15px; /* Combine margins for simpler layout */
    padding-top: 2px;
    white-space: nowrap; /* Prevent links from breaking onto multiple lines */
  }
  
  .footer-link:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  
  .footer-copyright {
    font-size: 13px;
    font-weight: 400;
    margin: 0 15px;
    white-space: nowrap; /* Prevent copyright text from breaking onto multiple lines */
  }
  
  /* Mobile support: Adjust layout on small screens */
  @media (max-width: 768px) {
    .landing-footer {
      flex-direction: column; /* Stack items vertically on mobile */
      justify-content: center;
      align-items: center;
    }
  
    .footer-link,
    .footer-copyright {
      margin: 5px 0; /* Reduce margin for small screens */
      font-size: 12px; /* Optionally reduce font size for smaller screens */
    }
  }
  